.about-page {
    text-align: left;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;;
}

.about-component {
    margin-top: 80px;
    padding: 0px 50px;
}