@import url('https://fonts.googleapis.com/css?family=Roboto');

/*general*/
html, body, nav, header, section, aside, footer, div, h1, h2, h3{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    
}

/*color*/
.bg-red {
    background-color: #AA3939;
}

.bg-white {
    background-color: #ffffff;
}
.bg-shade {
    background-color: #f3f3f3;
}

/*navigation*/
.nav {
    position: absolute;
    width: 100%;
}

.bottom-nav ol,ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.bottom-nav li {
    float: left;
}

.nav-list a:hover:not(.active), .active{
    border-bottom: 5px solid #29ABE2 !important;
}

.nav-list a{
    color: #121212;
    display: block;
    text-align: center;
    padding: 13px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 5px;
}

.top-nav {
    padding: 5px;
    height: 20px;
    background-color: #29ABE2;
}

.tnav {
    position: absolute;
    right: 0;
}

.tnav li {
    padding: 0px 20px;
    float: left;
}

.tnav a {
    text-decoration: none;
    color: #ffffff;
}

.nav-lang {
    width: 50px;
    text-align: right;
    background-image: url(../img/idn.png);
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
li.nav-lang:hover .dropdown-content {
    display: block;
}

.bottom-nav {
    height: 60px;
/*    background: #E6E6E6;*/
    padding: 20xp;
    background-color: rgba(255,255,255,0.9);
    width: 100%;
    transition: 0.5s;
    z-index: 1;
    
    position: fixed;
}

.logo{
    margin: 10px 50px;
}

.nav-list {
    position: absolute;
    right: 0;
    margin: 10px;
}

header {
    text-align: center;
    height: 600px;
    background-color: #303943;
    background-image: url(../img/heading.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
}

.wrap-header {
    padding-top: 150px;
}

@media (min-width:1000px){
    .wrapper {
        width: 1000px;
        margin: 0 auto;
        text-align: center;
    }
}

.wrapper {
    margin: 0 auto;
    text-align: center;
}

.search {
    height: 40px;
    width: 550px;
    margin: 120px auto;
    border-radius: 25px;
    background: #ffffff;
    text-align: left;
}

.search-input {
    
    font-size: 18pt;
    padding-left: 20px;
    height: 38px;
    border: 0px;
    width: 420px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}


.search-in {
    margin: auto;
}

.search-btn {
    position: absolute;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #F7931E;
    border: none;
    color: white;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 120px;
    cursor: pointer;
}

input[type=text]:focus {
    border: 0px;
}


section {
    min-height: 200px;
    padding: 20px 0px;
}

footer {
    background-color: #303943;
    text-align: center;
    margin: auto;
    padding: 30px 0;
}

.bottom-menu {
    margin: 20px auto;
}

.bottom-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

.bottom-menu ul li {
    float: left;
    margin: 0px 30px;
}

.social {
    
}

.social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

.social ul li {
    float: left;
}

.social img {
    height: 30px;
    margin: 10px 20px;
}

.bottom-menu a {
    text-decoration: none;
    color: white;
}

.desc span {
    color: rgba(255, 255, 255, 0.4);
}

.row {
    
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
}

.col-1 {
    width: 8.3333%;
}
.col-2 {
    width: 16.6666%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.3333%;
}
.col-5 {
    width: 41.6666%
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.3333%;
}
.col-8 {
    width: 66.6666%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.3333%;
}
.col-11 {
    width: 91.6666%
}
.col-12 {
    width: 100%;
}


.title {
    font-size: 40pt;
    color: #ffffff;
    text-shadow: 2px 2px 5px #a1a1a1;
}

.subtitle {
    font-size: 19pt;
    color: #ffffff;
    text-shadow: 2px 2px 5px #a1a1a1;
}

.section-title {
    margin-bottom: 20px;
    font-size: 36px;
}

.tnav {
    display: inline-block;
}

.top-menu li {
    float: left;
}

.top-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}



.dest-box-mid {
    height: 240px;
    background-color: #e0e0e0;
    margin: 10px;
    position: relative;
    overflow: hidden;
}

.clearfix {
    clear: both;
}

.desc {
    bottom: -60px;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    background: rgba(12, 156, 238, 0.9);
    transition: .5s;
}

.dest-box-mid:hover .desc {
    bottom: 0px;
    transition: .5s;
}

.desc h3 {
    color: white;
}


@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    visibility: hidden;
    /*-webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);*/
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    /*visibility: visible;*/
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    visibility: hidden;
    /*-webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);*/
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }

  to {
    visibility: visible;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}



@media (min-width:480px){
    .logo-container {
        width: 100%;
        
        float: left;
    }
}
@media (max-width:480px){
    .logo-container {
        width: 100%;
    }
}



